#search-field {
	margin-bottom: 20px;
}

#search-field .input-group {
    border-top: 1px solid #137185;
    border-bottom: 1px solid #137185;
}

#search-field .form-control {
    height: 100%;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#search-field .input-group-addon {
    width: 100px;
    background-color: #137185;
    border-color: #137185;
    border-radius: 0;
    color: #FFF;
}

#search-field .input-group-btn {
   background-color: #137185;
}

#search-field .btn-option,
#search-field .btn-option:hover {
	width: 100px;
    background-color: #137185;
    border-color: #137185;
    border-radius: 0;
}

#search-field .btn-field {
	border-radius: 0;
    background-color: #FFF;
    color: #137185;
}

#search-field .btn-field:focus,
#search-field .btn-action:focus {
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

#search-field .btn-action {
	height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: #137185;
    color: #FFF;
    font-size: 18px;
}
/*
.btn-action:not(:first-child):not(:last-child) {
    border-left: 1px solid #FFF;
}*/

#search-field .glyphicon {
	padding: 0px 10px;
}

#search-field .dropdown-menu {
    min-width: 100px;
    width: 100px;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

#search-field .dropdown-menu>li>a {
    line-height: 2em;
    padding: 0px 15px;
}

#search .fields {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #137185;
    padding-left: 15px;
}

#search .radio {
    margin: 0;
    padding: 5px;
}

#emblem-fields .dropdown {
	display: inline;
}

#emblem-fields .dropdown-menu {
	width: 100%;
}

#language {
    display: inline;
}