<p class="paging font-18">
	<% if( Total > 0 ) { %>
	  <% if( From != 1) { %>
	    <a id="prev" href="/search/emblems"><< prev</a>
	  <% } %>
	  <span>Viewing emblems <%= From %> to <%= To %> of <%= Total %></span>
	  <% if( To < Total) { %>
	    <a id="next" href="/search/emblems">next >></a>
	  <% } %>
	<% } else { %>
      <span>No emblems found</span>
    <% } %>
</p>
<!--
<% _.each(Emblems, function(emblem) { %>
  <div class="col-md-4 col-sm-6">
    <a class="emblem" href="detail/emblem/<%= emblem.emblemID %>">
      <img src="<%= emblem.Pictura %>">
      <p class="font-16"><%= emblem.Motto %></p>
    </a>
  </div>
<% }); %>
-->
<% _.each(Emblems, function(emblem, index) { %>
  <% console.log(index + " aa") %>
  <% if(index % 3 == 0) { %>
  		<div class="row">
  <% } %>
  <div class="col-md-4 col-sm-6">
    <a class="emblem" href="detail/emblem/<%= emblem.emblemID %>">
      <img src="<%= emblem.Pictura %>">
      <p class="font-16"><%= emblem.Motto %></p>
    </a>
  </div>
  <% if(index % 3 == 2 || index == (Emblems.length - 1)) { %>
      </div>
  <% } %>
<% }); %>

<p class="paging font-18">
  <% if( Total > 0 ) { %>
	<% if( From != 1) { %>
	    <a id="prev" href="/search/emblems"><< prev</a>
	<% } %>
	<span>Viewing emblems <%= From %> to <%= To %> of <%= Total %></span>
	<% if( To < Total) { %>
	    <a id="next" href="/search/emblems">next >></a>
	<% } %>
  <% } %>
</p>