<div class="col-sm-6">
  <div class="well">
    <ul>
      <li><a id="more-emblems" href="search/emblems?query.notation=<%= Notation %>">Find more emblems with this heading</a></li>
      <li><a href="http://www.virtuelles-kupferstichkabinett.de/index.php?vkk=&vzk=&reset=1&subPage=search&selTab=2&habFilter=1&haumFilter=1&selFilter=0&vkk_=1&vzk_=1&sKey1=iconclass&indexPid1=&indexpFunction_id1=0&sKey2=volltext&sWord2=&indexPid2=&indexpFunction_id2=0&sKey3=volltext&sWord3=&indexPid3=&indexpFunction_id3=0&sWord1=<%= Notation %>" target="_blank">Find VKK images with this heading</a></li>
      <li><a href="http://dbs.hab.de/cgi-bin/barock/feast.pl?m1=ICNotation&m2=sw&txtm2=&txtm3=&m3=&m4=Schlagwort&txtm4=&m5=Schlagwort&txtm5=&m6=title&txtm6=&trunc=%25&owner1=HAB&owner2=BL&limit=0&Suchen=Search&max_show=10&txtm1=<%= Notation %>" target="_blank">Find Festkultur images with this heading</a></li>
      <li><a id="browse" href="" target="_blank">Browse iconclass terms hierarchy</a></li>
    </ul>
  </div>
</div>